@include('partials/html-header')
<body>
@include('partials/menu')
<h1>Über</h1>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium placeat tenetur doloribus quis itaque est repellendus quae tempore quidem eaque, incidunt rem praesentium id possimus perspiciatis ipsa. Expedita ab exercitationem porro laborum reprehenderit molestiae quibusdam nobis. Repudiandae tenetur consequuntur consequatur incidunt quis dolor asperiores rerum minima, doloribus odit! Doloremque rem eos eum sunt suscipit, expedita eaque, beatae dolorum, similique necessitatibus veniam! Cupiditate provident molestiae praesentium aut magnam consectetur eos, maxime, quas dolores in similique pariatur nemo debitis aspernatur repellat beatae est aliquam at quisquam maiores! At, perspiciatis? Praesentium incidunt vero repellendus ex illum quia sint! Sed aperiam cum magnam omnis.     
</body>
</html>