@include('partials/html-header')
<body>
    @if(post == undefined)
        <h1>Artikel nicht gefunden</h1>
        <p>
            Es konnte kein Artikel gefunden werden.
            <br>
            <a href="/">zur Homepage</a>
        </p>
    @else
        <h1>{{ post.title }}</h1>
        <p>
            {{ post.text }}
        </p>
        <p>
            {{ new Date(post.date).toLocaleDateString() }}/{{ post.author }}
            <br>
            <a href="/">zur Homepage</a>
            @if(session.get('login') != undefined)
                <a href="/post/edit/{{post.id}}">Post bearbeiten</a>
            @end
        </p>
    @end
</body>
</html>