<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Mein Blog</h1>
  @if(session.get('login')!= undefined)
  Hallo {{ session.get('firstname') }}!
  <p>
    <a href="/post/create">Post erstellen</a>
    <br>
    <a href="/logout">Logout</a>
  </p>
  @else
  <a href="/login">zum Login</a>
  @end

  @each(post in posts)
  <p>
  <h2>{{ post.title }}</h2>
  <small>{{ post.date }}</small>
  <p>
    {{ post.teaser }} <a href="/article/{{ post.id }}">mehr...</a>
    <br><small>{{ post.author }}</small>
  </p>
  </p>
  @end
</body>

</html>