<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Mein Blog</h1>
  Welcome.
  @each(post in posts)
    <p>
      <h2>{{ post.title }}</h2>
      <p>
        {{ post.text }}
      </p>
    </p>
  @end
</body>
</html>
