<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Registrierung</h1>
    <form action="/register" method="post">
       {{ @csrfField()
       }}        <input type="text" name="login"><br>
        <input type="text" name="firstname"><br>
        <input type="text" name="lastname"><br>
        <input type="password" name="password"><br>
        <input type="submi">

    </form>
</body>

</html>