<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Kunden</h1>
    <ul>
    @each(kunde in kunden)
        <li>{{ kunde.vorname }} {{ kunde.nachname }}</li>
    @end
    </ul>
</body>
</html>