<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Der OMM Blog!!!</title>
    <meta description="Der Blog zu OMM">
    <!-- <link rel="stylesheet" href="/style.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=menu" />
    @vite(['resources/css/style.css'])
</head>
</head>
</head>